/* style/SignUp.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .signup-box {
    background: white;
    padding: 30px;
    width: 380px; /* Aumentei a largura para acomodar melhor os campos */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-box button:hover {
    background-color: #555;
  }
  
  .signup-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .signup-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  .signup-links a:hover {
    text-decoration: underline;
  }
  