/* App.css */
.App h1 {
    font-family: 'Poppins', sans-serif; /* Define a fonte Poppins */
    font-size: 24px; /* Tamanho da fonte */
    color: #171312; /* Cor da fonte (você pode mudar para qualquer cor que preferir) */
  
  }
  